.listaDeCategorias {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.listaDeCategorias__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listaDeCategorias__li {
  background-color: slategray;
  border: slategray solid 1px;
  border-radius: 10px;
  padding: .3em;
  font-weight: 700;
  font-size: 1.1em;
  color: white;
  margin: 1em;
}

.listaDeCategorias__input {
  max-height: 2em;
  align-self: center;
  margin: 0 5em;
}